/**
*
* {{ extractClassName name }}
*
*/

import React, { Component } from 'react'
import { connect } from 'react-redux'
import { compose } from 'redux'
// import PropTypes from 'prop-types'

class {{ extractClassName name }} extends Component { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <div>
        This is {{extractClassName name}} container
      </div>
    );
  }
}

{{ extractClassName name }}.propTypes = {

}

{{ extractClassName name }}.defaultProps = {

}
const mapStateToProps = state => ({ // eslint-disable-line

})
const mapDispatchToProps = dispatch => ({ // eslint-disable-line

})
const withStore = connect(mapStateToProps, mapDispatchToProps)

export default compose(withStore)({{ extractClassName name }})
